In [1]:
#Importing Libraries
import pandas as pd
from collections import defaultdict
import datetime as dt
from datetime import datetime  
import numpy as np

In [2]:
df=pd.read_csv(r'C:/Users/JOVAN RODRIGUES/Downloads/FinTranscData/bank_transactions_dat.csv')
print(df)

     TransactionID AccountID  TransactionAmount      TransactionDate  \
0         TX000001   AC00128              14.09  2023-04-11 16:29:14
1         TX000002   AC00455             376.24  2023-06-27 16:44:19
2         TX000003   AC00019             126.29  2023-07-10 18:16:08
3         TX000004   AC00070             184.50  2023-05-05 16:32:11
4         TX000005   AC00411              13.45  2023-10-16 17:51:24
...            ...       ...                ...                  ...
2507      TX002508   AC00297             856.21  2023-04-26 17:09:36
2508      TX002509   AC00322             251.54  2023-03-22 17:36:48
2509      TX002510   AC00095              28.63  2023-08-21 17:08:50
2510      TX002511   AC00118             185.97  2023-02-24 16:24:46
2511      TX002512   AC00009             243.08  2023-02-14 16:21:23

     TransactionType          Location DeviceID      IP Address MerchantID  \
0              Debit         San Diego  D000380  162.198.218.92       M015
1              Debit           Houston  D000051     13.149.61.4       M052
2              Debit              Mesa  D000235  215.97.143.157       M009
3              Debit           Raleigh  D000187  200.13.225.150       M002
4             Credit           Atlanta  D000308    65.164.3.100       M091
...              ...               ...      ...             ...        ...
2507          Credit  Colorado Springs  D000625    21.157.41.17       M072
2508           Debit            Tucson  D000410  49.174.157.140       M029
2509           Debit         San Diego  D000095     58.1.27.124       M087
2510           Debit            Denver  D000634   21.190.11.223       M041
2511          Credit      Jacksonville  D000215   59.127.135.25       M041

     Channel  CustomerAge CustomerOccupation  TransactionDuration  \
0        ATM           70             Doctor                   81
1        ATM           68             Doctor                  141
2     Online           19            Student                   56
3     Online           26            Student                   25
4     Online           26            Student                  198
...      ...          ...                ...                  ...
2507  Branch           33             Doctor                  109
2508  Branch           48             Doctor                  177
2509  Branch           56            Retired                  146
2510  Online           23            Student                   19
2511  Online           24            Student                   93

      LoginAttempts  AccountBalance PreviousTransactionDate
0                 1         5112.21     2024-11-04 08:08:08
1                 1        13758.91     2024-11-04 08:09:35
2                 1         1122.35     2024-11-04 08:07:04
3                 1         8569.06     2024-11-04 08:09:06
4                 1         7429.40     2024-11-04 08:06:39
...             ...             ...                     ...
2507              1        12690.79     2024-11-04 08:11:29
2508              1          254.75     2024-11-04 08:11:42
2509              1         3382.91     2024-11-04 08:08:39
2510              1         1776.91     2024-11-04 08:12:22
2511              1          131.25     2024-11-04 08:07:49

[2512 rows x 16 columns]

In [3]:
# Display the first 5 rows to verify
print(df.head())

  TransactionID AccountID  TransactionAmount      TransactionDate  \
0      TX000001   AC00128              14.09  2023-04-11 16:29:14
1      TX000002   AC00455             376.24  2023-06-27 16:44:19
2      TX000003   AC00019             126.29  2023-07-10 18:16:08
3      TX000004   AC00070             184.50  2023-05-05 16:32:11
4      TX000005   AC00411              13.45  2023-10-16 17:51:24

  TransactionType   Location DeviceID      IP Address MerchantID Channel  \
0           Debit  San Diego  D000380  162.198.218.92       M015     ATM
1           Debit    Houston  D000051     13.149.61.4       M052     ATM
2           Debit       Mesa  D000235  215.97.143.157       M009  Online
3           Debit    Raleigh  D000187  200.13.225.150       M002  Online
4          Credit    Atlanta  D000308    65.164.3.100       M091  Online

   CustomerAge CustomerOccupation  TransactionDuration  LoginAttempts  \
0           70             Doctor                   81              1
1           68             Doctor                  141              1
2           19            Student                   56              1
3           26            Student                   25              1
4           26            Student                  198              1

   AccountBalance PreviousTransactionDate
0         5112.21     2024-11-04 08:08:08
1        13758.91     2024-11-04 08:09:35
2         1122.35     2024-11-04 08:07:04
3         8569.06     2024-11-04 08:09:06
4         7429.40     2024-11-04 08:06:39

In [4]:
# Display data types and non-null values
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2512 entries, 0 to 2511
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   TransactionID            2512 non-null   object
 1   AccountID                2512 non-null   object
 2   TransactionAmount        2512 non-null   float64
 3   TransactionDate          2512 non-null   object
 4   TransactionType          2512 non-null   object
 5   Location                 2512 non-null   object
 6   DeviceID                 2512 non-null   object
 7   IP Address               2512 non-null   object
 8   MerchantID               2512 non-null   object
 9   Channel                  2512 non-null   object
 10  CustomerAge              2512 non-null   int64
 11  CustomerOccupation       2512 non-null   object
 12  TransactionDuration      2512 non-null   int64
 13  LoginAttempts            2512 non-null   int64
 14  AccountBalance           2512 non-null   float64
 15  PreviousTransactionDate  2512 non-null   object
dtypes: float64(2), int64(3), object(11)
memory usage: 314.1+ KB
None

In [5]:
#Data Cleaning
#Lets standardize the column names
#Covert Date column type to DateTime

In [6]:
# Check for missing values
print("\nMissing values before cleaning:")
print(df.isnull().sum())

Missing values before cleaning:
TransactionID              0
AccountID                  0
TransactionAmount          0
TransactionDate            0
TransactionType            0
Location                   0
DeviceID                   0
IP Address                 0
MerchantID                 0
Channel                    0
CustomerAge                0
CustomerOccupation         0
TransactionDuration        0
LoginAttempts              0
AccountBalance             0
PreviousTransactionDate    0
dtype: int64

In [7]:
df.columns = df.columns.str.replace(" ", "")
df["TransactionDate"] = pd.to_datetime(df["TransactionDate"], errors="coerce")
df["PreviousTransactionDate"] = pd.to_datetime(df["PreviousTransactionDate"], format="%Y-%m-%d",errors="coerce")
print(df.info())
print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2512 entries, 0 to 2511
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   TransactionID            2512 non-null   object
 1   AccountID                2512 non-null   object
 2   TransactionAmount        2512 non-null   float64
 3   TransactionDate          2512 non-null   datetime64[ns]
 4   TransactionType          2512 non-null   object
 5   Location                 2512 non-null   object
 6   DeviceID                 2512 non-null   object
 7   IPAddress                2512 non-null   object
 8   MerchantID               2512 non-null   object
 9   Channel                  2512 non-null   object
 10  CustomerAge              2512 non-null   int64
 11  CustomerOccupation       2512 non-null   object
 12  TransactionDuration      2512 non-null   int64
 13  LoginAttempts            2512 non-null   int64
 14  AccountBalance           2512 non-null   float64
 15  PreviousTransactionDate  2512 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(3), object(9)
memory usage: 314.1+ KB
None
     TransactionID AccountID  TransactionAmount     TransactionDate  \
0         TX000001   AC00128              14.09 2023-04-11 16:29:14
1         TX000002   AC00455             376.24 2023-06-27 16:44:19
2         TX000003   AC00019             126.29 2023-07-10 18:16:08
3         TX000004   AC00070             184.50 2023-05-05 16:32:11
4         TX000005   AC00411              13.45 2023-10-16 17:51:24
...            ...       ...                ...                 ...
2507      TX002508   AC00297             856.21 2023-04-26 17:09:36
2508      TX002509   AC00322             251.54 2023-03-22 17:36:48
2509      TX002510   AC00095              28.63 2023-08-21 17:08:50
2510      TX002511   AC00118             185.97 2023-02-24 16:24:46
2511      TX002512   AC00009             243.08 2023-02-14 16:21:23

     TransactionType          Location DeviceID       IPAddress MerchantID  \
0              Debit         San Diego  D000380  162.198.218.92       M015
1              Debit           Houston  D000051     13.149.61.4       M052
2              Debit              Mesa  D000235  215.97.143.157       M009
3              Debit           Raleigh  D000187  200.13.225.150       M002
4             Credit           Atlanta  D000308    65.164.3.100       M091
...              ...               ...      ...             ...        ...
2507          Credit  Colorado Springs  D000625    21.157.41.17       M072
2508           Debit            Tucson  D000410  49.174.157.140       M029
2509           Debit         San Diego  D000095     58.1.27.124       M087
2510           Debit            Denver  D000634   21.190.11.223       M041
2511          Credit      Jacksonville  D000215   59.127.135.25       M041

     Channel  CustomerAge CustomerOccupation  TransactionDuration  \
0        ATM           70             Doctor                   81
1        ATM           68             Doctor                  141
2     Online           19            Student                   56
3     Online           26            Student                   25
4     Online           26            Student                  198
...      ...          ...                ...                  ...
2507  Branch           33             Doctor                  109
2508  Branch           48             Doctor                  177
2509  Branch           56            Retired                  146
2510  Online           23            Student                   19
2511  Online           24            Student                   93

      LoginAttempts  AccountBalance PreviousTransactionDate
0                 1         5112.21     2024-11-04 08:08:08
1                 1        13758.91     2024-11-04 08:09:35
2                 1         1122.35     2024-11-04 08:07:04
3                 1         8569.06     2024-11-04 08:09:06
4                 1         7429.40     2024-11-04 08:06:39
...             ...             ...                     ...
2507              1        12690.79     2024-11-04 08:11:29
2508              1          254.75     2024-11-04 08:11:42
2509              1         3382.91     2024-11-04 08:08:39
2510              1         1776.91     2024-11-04 08:12:22
2511              1          131.25     2024-11-04 08:07:49

[2512 rows x 16 columns]

In [8]:
# Data Checks
# Repeating or Dupllicate Transaction Id
# Negative Balance
# Transaction without Account Id
# Maximum transactions

In [9]:
duplicate_ids = df[df.duplicated(subset=["TransactionID"],)]
print("Duplicate Transactions", duplicate_ids)
negative_balances = df[df["AccountBalance"] < 0]
print(negative_balances)

Duplicate Transactions Empty DataFrame
Columns: [TransactionID, AccountID, TransactionAmount, TransactionDate, TransactionType, Location, DeviceID, IPAddress, MerchantID, Channel, CustomerAge, CustomerOccupation, TransactionDuration, LoginAttempts, AccountBalance, PreviousTransactionDate]
Index: []
Empty DataFrame
Columns: [TransactionID, AccountID, TransactionAmount, TransactionDate, TransactionType, Location, DeviceID, IPAddress, MerchantID, Channel, CustomerAge, CustomerOccupation, TransactionDuration, LoginAttempts, AccountBalance, PreviousTransactionDate]
Index: []

In [10]:
# Exploratory Data Analysis (EDA)
# EDA is where you explore the data to understand its characteristics, identify patterns, and find potential relationships. This is crucial for guiding your feature engineering and modeling steps.

# How to Perform EDA:

# Descriptive Statistics: Get a numerical summary of the data using df.describe().
# Univariate Analysis: Look at the distribution of individual variables. Use histograms for numerical data and bar plots for categorical data.
# Bivariate/Multivariate Analysis: Explore the relationships between variables, especially in the context of your target variable (fraudulent transactions).
# Visualization: Use libraries like Matplotlib and Seaborn to create visual representations of your findings. This makes complex patterns easy to understand.

In [11]:
print("Max Transaction Amount", df["TransactionAmount"].max())
print("Min Transaction Amount", df["TransactionAmount"].min())
print("Max Transactions by AccountId: \n ", df["AccountID"].value_counts().head(1))

Max Transaction Amount 1919.11
Min Transaction Amount 0.26
Max Transactions by AccountId:
  AC00362    12
Name: AccountID, dtype: int64

In [12]:
df = df.sort_values(by=["AccountID", "TransactionDate"])

df["Gap"] = df.groupby("AccountID")["TransactionDate"].diff()

df.groupby("AccountID")["Gap"].agg(["mean", "max", "min"])

                                mean               max              min
AccountID
AC00001             59 days 23:56:14  59 days 23:56:14 59 days 23:56:14
AC00002             57 days 12:10:03 100 days 23:07:51 10 days 23:31:46
AC00003      68 days 06:33:03.500000 140 days 02:21:36  7 days 00:41:41
AC00004      30 days 14:49:04.875000  90 days 22:45:58  9 days 01:13:10
AC00005      35 days 15:12:55.125000 139 days 22:43:26  0 days 01:11:04
...                              ...               ...              ...
AC00496      50 days 00:49:14.500000  82 days 00:45:11 18 days 00:53:18
AC00497      58 days 14:36:27.800000 102 days 00:06:47 13 days 21:20:00
AC00498   49 days 00:04:06.285714285 121 days 00:26:29 14 days 00:08:13
AC00499   53 days 15:49:25.333333333 160 days 02:29:09 11 days 21:16:47
AC00500             84 days 00:02:19 114 days 22:49:13 42 days 01:19:54

[495 rows x 3 columns]

In [13]:
print("Transactions by DeviceID: \n ", df["DeviceID"].value_counts())

Transactions by DeviceID:
  D000142    9
D000315    9
D000663    9
D000451    9
D000697    9
          ..
D000296    1
D000318    1
D000480    1
D000570    1
D000425    1
Name: DeviceID, Length: 681, dtype: int64

In [14]:
print("Transactions by Location: \n ", df["Location"].value_counts())

Transactions by Location:
  Fort Worth          70
Los Angeles         69
Oklahoma City       68
Charlotte           68
Tucson              67
Philadelphia        67
Omaha               65
Miami               64
Houston             63
Memphis             63
Detroit             63
Denver              62
Boston              61
Mesa                61
Seattle             61
Atlanta             61
Kansas City         61
Chicago             60
Colorado Springs    60
Fresno              60
Jacksonville        60
San Diego           59
San Antonio         59
Raleigh             59
San Jose            59
Austin              59
Indianapolis        58
New York            58
San Francisco       57
Las Vegas           55
Milwaukee           55
Nashville           55
Virginia Beach      55
Phoenix             55
Columbus            54
Sacramento          53
Louisville          51
Baltimore           51
Dallas              49
Washington          48
El Paso             46
Portland            42
Albuquerque         41
Name: Location, dtype: int64

In [15]:
print("Transactions by CustomerAge: \n ", df["CustomerAge"].value_counts())

Transactions by CustomerAge:
  27    87
26    86
25    73
28    68
21    64
      ..
70    19
77    19
80    17
74    16
71    16
Name: CustomerAge, Length: 63, dtype: int64

In [16]:
print("Transactions by Channel: \n ", df["Channel"].value_counts())

Transactions by Channel:
  Branch    868
ATM       833
Online    811
Name: Channel, dtype: int64

In [17]:
print("Transactions by CustomerOccupation: \n ", df["CustomerOccupation"].value_counts())

Transactions by CustomerOccupation:
  Student     657
Doctor      631
Engineer    625
Retired     599
Name: CustomerOccupation, dtype: int64

In [18]:
print("The age variation: ", df['CustomerAge'].mean())

The age variation:  44.673964968152866

In [19]:
print("The age variation: ", df['CustomerAge'].mean())

The age variation:  44.673964968152866

In [20]:
df['DayOfWeek_Name'] = df['TransactionDate'].dt.day_name()
print(df['DayOfWeek_Name'])

1312      Friday
2016     Tuesday
2120     Tuesday
20       Tuesday
1476      Friday
          ...
1942      Monday
2054      Monday
1715      Monday
2374    Thursday
2349      Monday
Name: DayOfWeek_Name, Length: 2512, dtype: object

In [21]:
print("Transactions by Day of the week: \n ", df["DayOfWeek_Name"].value_counts())

Transactions by Day of the week:
  Monday       1070
Friday        373
Thursday      368
Tuesday       360
Wednesday     341
Name: DayOfWeek_Name, dtype: int64

In [22]:
df['Time'] = df['TransactionDate'].dt.strftime('%H:%M:%S')
df['Week_of_Year'] = df['TransactionDate'].dt.isocalendar().week.astype(int)
df['Month'] = df['TransactionDate'].dt.month
df['Day_of_Month'] = df['TransactionDate'].dt.day

df['Hour'] = df['TransactionDate'].dt.hour
df['Day_Time_Combo'] = df['DayOfWeek_Name'] + ' ' + df['Hour'].astype(str)

In [23]:
df.head()

,TransactionID,AccountID,TransactionAmount,TransactionDate,TransactionType,Location,DeviceID,IPAddress,MerchantID,Channel,...,AccountBalance,PreviousTransactionDate,Gap,DayOfWeek_Name,Time,Week_of_Year,Month,Day_of_Month,Hour,Day_Time_Combo
1312,TX001313,AC00001,47.79,2023-09-15 17:00:20,Debit,Denver,D000649,59.12.96.11,M034,Branch,...,1649.92,2024-11-04 08:11:55,NaT,Friday,17:00:20,37,9,15,17,Friday 17
2016,TX002017,AC00001,212.97,2023-11-14 16:56:34,Debit,Atlanta,D000492,45.241.13.208,M003,Online,...,4180.40,2024-11-04 08:10:42,59 days 23:56:14,Tuesday,16:56:34,46,11,14,16,Tuesday 16
2120,TX002121,AC00002,476.99,2023-01-10 16:00:32,Debit,San Diego,D000594,113.137.153.101,M022,Online,...,1154.48,2024-11-04 08:10:10,NaT,Tuesday,16:00:32,2,1,10,16,Tuesday 16
20,TX000021,AC00002,59.32,2023-02-28 16:36:58,Debit,Los Angeles,D000152,116.44.12.250,M040,Branch,...,5750.89,2024-11-04 08:09:24,49 days 00:36:26,Tuesday,16:36:58,9,2,28,16,Tuesday 16
1476,TX001477,AC00002,12.62,2023-05-05 16:35:44,Debit,El Paso,D000475,93.160.83.196,M068,Branch,...,6420.47,2024-11-04 08:09:03,65 days 23:58:46,Friday,16:35:44,18,5,5,16,Friday 16

In [24]:
print("Transactions by Day Time: \n ", df["Day_Time_Combo"].value_counts())

Transactions by Day Time:
  Monday 16       573
Monday 17       337
Thursday 16     201
Tuesday 16      189
Friday 16       181
Wednesday 16    172
Monday 18       160
Friday 17       129
Wednesday 17    125
Tuesday 17      120
Thursday 17     108
Friday 18        63
Thursday 18      59
Tuesday 18       51
Wednesday 18     44
Name: Day_Time_Combo, dtype: int64

In [25]:
# Create a working copy of the DataFrame for the time-series calculation
df_time = df[['AccountID', 'TransactionDate']].sort_values(by=['AccountID', 'TransactionDate']).copy()
df_time['Time_Between_Txn_Delta'] = df_time.groupby('AccountID')['TransactionDate'].diff()
df_time['Time_Between_Txn_Seconds'] = df_time['Time_Between_Txn_Delta'].dt.total_seconds().fillna(0)

avg_time_per_user = df_time.groupby('AccountID')['Time_Between_Txn_Seconds'].mean().reset_index()
avg_time_per_user.rename(columns={'Time_Between_Txn_Seconds': 'User_Avg_Time_Between_Txns'}, inplace=True)



# Merge the average time back into the working table based on AccountID
df_final_time_features = pd.merge(df_time,avg_time_per_user,on='AccountID',how='left')

# Clean up the final table to show the key results
df_final_time_features = df_final_time_features[['AccountID','TransactionDate','Time_Between_Txn_Seconds','User_Avg_Time_Between_Txns']]

# Display the final resulting table, sorted by AccountID and Date
print("\n--- Final Table with Time-Series Features (First 10 Rows) ---")
print(df_final_time_features.head(10))

--- Final Table with Time-Series Features (First 10 Rows) ---
  AccountID     TransactionDate  Time_Between_Txn_Seconds  \
0   AC00001 2023-09-15 17:00:20                       0.0
1   AC00001 2023-11-14 16:56:34                 5183774.0
2   AC00002 2023-01-10 16:00:32                       0.0
3   AC00002 2023-02-28 16:36:58                 4235786.0
4   AC00002 2023-05-05 16:35:44                 5702326.0
5   AC00002 2023-05-16 16:07:30                  948706.0
6   AC00002 2023-07-24 16:14:05                 5961995.0
7   AC00002 2023-09-11 17:52:59                 4239534.0
8   AC00002 2023-12-21 17:00:50                 8723271.0
9   AC00003 2023-01-02 16:45:05                       0.0

   User_Avg_Time_Between_Txns
0                2.591887e+06
1                2.591887e+06
2                4.258803e+06
3                4.258803e+06
4                4.258803e+06
5                4.258803e+06
6                4.258803e+06
7                4.258803e+06
8                4.258803e+06
9                4.719027e+06

In [27]:
def feature_details(df,col):
    print(f'Feature Name : {col}')
    # Print unique values count
    unique_count = df[col].nunique()
    print(f'\n{col} has unique values: {unique_count}')
    
    # Print duplicate values count
    duplicate_count = df[col].duplicated().sum()
    print(f'{col} has duplicate values:{duplicate_count} \n')

In [28]:
cat_columns = df.select_dtypes(include = 'object').columns
for col in cat_columns:
    feature_details(df,col)

Feature Name : TransactionID

TransactionID has unique values: 2512
TransactionID has duplicate values:0

Feature Name : AccountID

AccountID has unique values: 495
AccountID has duplicate values:2017

Feature Name : TransactionType

TransactionType has unique values: 2
TransactionType has duplicate values:2510

Feature Name : Location

Location has unique values: 43
Location has duplicate values:2469

Feature Name : DeviceID

DeviceID has unique values: 681
DeviceID has duplicate values:1831

Feature Name : IPAddress

IPAddress has unique values: 592
IPAddress has duplicate values:1920

Feature Name : MerchantID

MerchantID has unique values: 100
MerchantID has duplicate values:2412

Feature Name : Channel

Channel has unique values: 3
Channel has duplicate values:2509

Feature Name : CustomerOccupation

CustomerOccupation has unique values: 4
CustomerOccupation has duplicate values:2508

Feature Name : DayOfWeek_Name

DayOfWeek_Name has unique values: 5
DayOfWeek_Name has duplicate values:2507

Feature Name : Time

Time has unique values: 2204
Time has duplicate values:308

Feature Name : Day_Time_Combo

Day_Time_Combo has unique values: 15
Day_Time_Combo has duplicate values:2497

In [29]:
df.to_csv(r'C:\Users\JOVAN RODRIGUES\Downloads\FinTransdataclean.csv')